/* .main_text{

    display: inline-block;
    width: 25%;

}
.main_img{
    display: inline-block;
    text-align: right;
    width: 74.65%;
    margin: 0;
    padding: 0;
} */
body{
    overflow-x: hidden;
    background-image: url('../img/home.jpg');
    background-size: cover;
}

h1{
    color: white;
    font-size: 4.5rem;
    margin: 3rem 2rem 0rem ;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.butn{
    margin-left: 3rem;
    margin-top: 0;
}