.crd{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    height: 15rem;
    /* display: inline-block; */
    padding-top: 5rem;
    vertical-align: middle;
    line-height: normal;
}

h1{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

/* .bg-img{
    background-image: url("../img/fruits.jpg");
    background-size: cover;    
} */
