.crd{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    height: 19rem;
    width: 22rem;
    /* display: inline-block; */
    padding-top: 7.5rem;
    vertical-align: middle;
    line-height: normal;
    border-radius: 6px;
}

h1{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#breakfast{
    background-image: url("../img/morning.gif");
    background-size: cover;    
}
#lunch{
    background-image: url("../img/afternoon.gif");
    background-size: cover;    
}
#snacks{
    background-image: url("../img/evening.gif");
    background-size: cover;    
}
#dinner{
    background-image: url("../img/night.gif");
    background-size: cover;    
}
